body {
    margin: 0;
    font-family: 'Georama', sans-serif;
}

@font-face {
    font-family: Pokemon Solid;
    src: url('fonts/pokemon-solid.ttf');
}

.pokedex {
    font-family: 'Pokemon Solid';
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    color: yellow !important;
    z-index: 2;
}

.bg-cards {
    background-color: #1b81dbde;
    height: 100vh;
}

.bg-image {
    background-image: url('img/pokeball.png');
    position: fixed;
    height: 200%;
    width: 200%;
}

.outline {
    color: #fff;
    text-shadow: #dce4eb 0px 0px 10px;
    -webkit-font-smoothing: antialiased;
}

#search {
    display: flex;
    flex-direction: column;
}

#search-field {
    z-index: 2;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

button {
    z-index: 2;
    border-radius: 8px !important;
    background-color: yellow;
    border-color: #0c89f7 !important;
    border: 4px;
    color: #1b81db;
    font-weight: bold;
    margin-left: 20px !important;
}

.d-flex-center {
    display: flex;
    justify-content: center;
}

#types {
    display: flex;
}

#result {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

.container {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.name-bold {
    display: flex;
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.name-container {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-top: -44px;
}

.pokeimage {
    width: 100px;
}

.pokemon-card {
    background-color: rgba(154, 154, 165, 0.253);
    margin: 8px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
}

.card-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

.close {
    position: absolute;
    right: 50px;
    font-size: 30px;
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 22px;
    cursor: pointer;
}

.pokemonImage {
    width: 300px;
}

.infocontainer {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    min-height: 81px;
    margin-top: -103px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.349);
    ;
}

.grass {
    background-color: #49D0B0;
}

.fire {
    background-color: #FC6C6D;
}

.water {
    background-color: #76BEFE;
}

.bug {
    background-color: #9CAD1A;
}

.electric {
    background-color: #FFCF4A;
}

.normal {
    background-color: #9D9B6A;
}

.poison {
    background-color: purple;
}

.fairy {
    background-color: palevioletred;
}

.ground {
    background-color: sienna;
}

.bg-type {
    background-color: rgba(255, 255, 255, 0.4);
    width: max-content;
    border-radius: 24px;
    padding: 10px;
    margin-right: 5px;
}

.cardtype {
    background-color: rgba(255, 255, 255, 0.4);
    width: max-content;
    border-radius: 24px;
    padding: 8px;
    font-size: 12px;
}

.types-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

table {
    display: flex;
    justify-content: center;
}

td {
    width: 5%;
    padding: 25px;
}

#info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    align-self: center;
    flex-direction: column;
    max-height: 50vh;
    overflow-y: auto;
}

.categories {
    color: gray;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 10px;
}

.title {
    color: gray;
    font-weight: bold;
}

.active-link {
    text-decoration: underline !important;
    font-weight: bold !important;
    padding-bottom: 20px !important;
}

.stats {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}

.progress {
    width: 60% !important;
}

.skill-name {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    width: 150px;
}

.hp {
    background-color: crimson !important;
}

.attack {
    background-color: darkgreen !important;
}

.defense {
    background-color: darkorange !important;
}

.special-attack {
    background-color: deepskyblue !important;
}

.special-defense {
    background-color: fuchsia !important;
}

@media (max-width: 1000px) {
    .pokemonImage {
        width: 200px;
    }
    .name-bold {
        font-size: 40px;
    }
    .progress {
        margin-right: 8px;
    }
    .skill-name {
        font-size: 18px;
        margin-left: 8px;
    }
    .close {
        right: 20px;
    }
}